<!doctype html>
 <html lang="en-AU">

    <head>
      {%  if request.host contains 'bearwell.com.au' %}
        <!-- Google Console Verification -->
        <meta name="google-site-verification" content="-iBdFtQCpWsyWdsN5Wk2NuRiB24EjA8itaDTrde9Qr4" />
       
        <!-- Meta Domain Verification for bearwell.com.au -->
        <meta name="facebook-domain-verification" content="zuuhz78fy9gzne010sdrkjbyb4ylln" />

       <!-- Pinterest Domain Verification -->
      <meta name="p:domain_verify" content="ebcf04ef534edc54a2837ea4da2d4ef2"/>
  
      {% elsif request.host contains 'bearwell.co.nz' %} 
        <!-- Google Console Verification -->
        <meta name="google-site-verification" content="-plM4s4wtFzBWSh9X9iWOQrJ61jWpCJtwfmrRNaeAuk" />
        
        <!-- Meta Domain Verification for bearwell.co.nz -->
          <meta name="facebook-domain-verification" content="jhq7vwapflbp5wmqqxuusz64ojdelv" />

       <!-- Pinterest Domain Verification -->
      <meta name="p:domain_verify" content="ebcf04ef534edc54a2837ea4da2d4ef2"/>
        
      {%  endif %}

              <script src="https://code.jquery.com/jquery-3.6.0.min.js" async></script>
  
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <meta name='viewport' content='width=device-width,initial-scale=1'>
      <meta name='theme-color' content='{{ settings.default_color_scheme }}'>
      {%- if page_description -%}
        <meta name='description' content='{{ page_description | escape }}'>
      {%- endif -%}
      {%- if settings.favicon != blank -%}
        <link rel='icon' type='image/png' href='{{ settings.favicon | image_url: width: 32, height: 32 }}'>
      {%- endif -%}
      {% render 'meta-tags' %}
      <link rel='canonical' href='{{ canonical_url }}'>
      <link rel='preconnect' href='https://cdn.shopify.com' crossorigin>
      <link rel='preconnect' href='https://fonts.shopifycdn.com' crossorigin>
  
      {%  if request.host contains 'bearwell.com.au' %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MVG4F4F8');</script>
<!-- End Google Tag Manager -->
      {%  endif %}

      <title>
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      </title>
  
      {% render 'css-variables' %}
      {{ 'bundle.js' | asset_url | preload_tag: as: 'script' }}
      {{ 'bundle.css' | asset_url | stylesheet_tag: preload: true }}
      {{ 'custom.js' | asset_url | preload_tag: as: 'script' }}
      {{ 'custom.css' | asset_url | stylesheet_tag: preload: true }}
      {% render 'fonts' %}
      {{ 'custom-styles.css' | asset_url | stylesheet_tag }}
      {{ content_for_header }}

      
      <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "snqyr7rlot");
</script>



<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "@id": "https://bearwell.com.au/",
      "name": "BearWell",
      "url": "https://bearwell.com.au/",
      "email": "hello@bearwell.com.au",
      "logo": {
        "@type": "ImageObject",
        "@id": "https://bearwell.com.au/",
        "url": "https://bearwell.com.au/cdn/shop/files/BearWellLogoHeader_f521c935-e566-4003-a43d-c14e64d0248a.png?v=1724736032&width=240",
        "contentUrl": "https://bearwell.com.au/cdn/shop/files/BearWellLogoHeader_f521c935-e566-4003-a43d-c14e64d0248a.png?v=1724736032&width=240",
        "caption": "BearWell logo"
      },
      "image": {
        "@type": "ImageObject",
        "@id": "https://bearwell.com.au/",
        "url": "https://bearwell.com.au/cdn/shop/files/104A8798_resized_57084b8f-4fc6-40d6-9f35-f5e39f224dd9.jpg?v=1728847149&width=4096",
        "contentUrl": "https://bearwell.com.au/cdn/shop/files/104A8798_resized_57084b8f-4fc6-40d6-9f35-f5e39f224dd9.jpg?v=1728847149&width=4096"
      },
      "sameAs": [
        "https://www.instagram.com/bearwell_official/",
        "https://www.facebook.com/profile.php?id=61565027649974",
        "https://www.tiktok.com/@bearwell_official"
      ],
      "areaServed": [
        { "@type": "Country", "name": "Australia", "identifier": "AU" },
        { "@type": "Country", "name": "New Zealand", "identifier": "NZ" }
      ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.99",
        "bestRating": "5",
        "worstRating": "1",
        "ratingCount": "94",
        "reviewCount": "94"
      },
      "review": [
        {
          "@type": "Review",
          "name": "So tasty and smooth",
          "author": { "@type": "Person", "name": "Jasmine" },
          "publisher": { "@id": "https://bearwell.com.au/" },
          "datePublished": "2025-05-28",
          "reviewBody": "I was given some sample sachets of this protein through the Naturally Good expo boxes and I loved it more than I thought I would. All the flavours were smooth and creamy, without being gluggy or too sweet. I especially enjoyed the chocolate mousse. Super tasty and healthy too - win win."
        },
        {
          "@type": "Review",
          "name": "Yum!",
          "author": { "@type": "Person", "name": "Candace" },
          "publisher": { "@id": "https://bearwell.com.au/" },
          "datePublished": "2024-10-24",
          "reviewBody": "Tried the Chocolate Mousse flavour & it was so yummy! Not usually a fan of whey protein as the texture is often grainy & there’s a weird after taste. Just adding the protein to water; it was smooth, creamy & a good balance of sweetness."
        }
      ],
      "hasMerchantReturnPolicy": { "@id": "https://bearwell.com.au/policies/refund-policy" },
      "makesOffer": { "@id": "https://bearwell.com.au" }
    },
    {
      "@type": "WebSite",
      "@id": "https://bearwell.com.au",
      "url": "https://bearwell.com.au",
      "name": "BearWell",
      "inLanguage": "en-AU",
      "publisher": { "@id": "https://bearwell.com.au" },
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://bearwell.com.au/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    },
    {
      "@type": "MerchantReturnPolicy",
      "@id": "https://bearwell.com.au",
      "name": "Returns & Refunds Policy",
      "url": "https://bearwell.com.au/policies/refund-policy",
      "applicableCountry": ["AU", "NZ"],
      "returnPolicyCategory": "https://schema.org/MerchantReturnFiniteReturnWindow",
      "merchantReturnDays": 14,
      "returnMethod": "https://schema.org/ReturnByMail",
      "returnFees": "https://schema.org/ReturnShippingFees",
      "itemCondition": "https://schema.org/NewCondition",
      "additionalProperty": [
        { "@type": "PropertyValue", "name": "Taste preference", "value": "Not refundable; try 30g sachets first." },
        { "@type": "PropertyValue", "name": "Sale items", "value": "No refunds or exchanges on discounted products." },
        { "@type": "PropertyValue", "name": "Opened items", "value": "Reviewed case-by-case; contact within 14 days." },
        { "@type": "PropertyValue", "name": "Damage claims window", "value": "Report within 72 hours with photos." }
      ]
    },
    {
      "@type": "Offer",
      "@id": "https://bearwell.com.au/",
      "url": "https://bearwell.com.au/",
      "priceCurrency": "AUD",
      "seller": { "@id": "https://bearwell.com.au/" },
      "shippingDetails": [
        {
          "@type": "OfferShippingDetails",
          "@id": "https://bearwell.com.au/",
          "shippingDestination": { "@type": "DefinedRegion", "addressCountry": "AU", "addressRegion": "VIC" },
          "deliveryTime": {
            "@type": "ShippingDeliveryTime",
            "handlingTime": { "@type": "QuantitativeValue", "minValue": 0, "maxValue": 1, "unitCode": "DAY" },
            "cutoffTime": "14:00:00+10:00",
            "businessDays": {
              "@type": "OpeningHoursSpecification",
              "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
              "opens": "09:00",
              "closes": "17:00"
            },
            "transitTime": { "@type": "QuantitativeValue", "minValue": 2, "maxValue": 4, "unitCode": "DAY" }
          },
          "shippingLabel": "AU Standard (VIC 2–4 business days)"
        },
        {
          "@type": "OfferShippingDetails",
          "@id": "https://bearwell.com.au/",
          "shippingDestination": { "@type": "DefinedRegion", "addressCountry": "AU" },
          "deliveryTime": {
            "@type": "ShippingDeliveryTime",
            "handlingTime": { "@type": "QuantitativeValue", "minValue": 0, "maxValue": 1, "unitCode": "DAY" },
            "cutoffTime": "14:00:00+10:00",
            "businessDays": {
              "@type": "OpeningHoursSpecification",
              "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
              "opens": "09:00",
              "closes": "17:00"
            },
            "transitTime": { "@type": "QuantitativeValue", "minValue": 3, "maxValue": 5, "unitCode": "DAY" }
          },
          "shippingLabel": "AU Standard (Interstate 3–5 business days)"
        },
        {
          "@type": "OfferShippingDetails",
          "@id": "https://bearwell.com.au",
          "shippingDestination": { "@type": "DefinedRegion", "addressCountry": "AU" },
          "deliveryTime": {
            "@type": "ShippingDeliveryTime",
            "handlingTime": { "@type": "QuantitativeValue", "minValue": 0, "maxValue": 1, "unitCode": "DAY" },
            "cutoffTime": "14:00:00+10:00",
            "businessDays": {
              "@type": "OpeningHoursSpecification",
              "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
              "opens": "09:00",
              "closes": "17:00"
            },
            "transitTime": { "@type": "QuantitativeValue", "minValue": 1, "maxValue": 3, "unitCode": "DAY" }
          },
          "shippingLabel": "AU Express (VIC 1–2, Interstate 2–3 business days)"
        },
        {
          "@type": "OfferShippingDetails",
          "@id": "https://bearwell.com.au",
          "shippingDestination": { "@type": "DefinedRegion", "addressCountry": "NZ", "addressRegion": "South Island" },
          "deliveryTime": {
            "@type": "ShippingDeliveryTime",
            "handlingTime": { "@type": "QuantitativeValue", "minValue": 0, "maxValue": 1, "unitCode": "DAY" },
            "cutoffTime": "13:00:00+12:00",
            "businessDays": {
              "@type": "OpeningHoursSpecification",
              "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
              "opens": "09:00",
              "closes": "17:00"
            },
            "transitTime": { "@type": "QuantitativeValue", "minValue": 1, "maxValue": 1, "unitCode": "DAY" }
          },
          "shippingLabel": "NZ South Island (next business day)"
        },
        {
          "@type": "OfferShippingDetails",
          "@id": "https://bearwell.com.au/",
          "shippingDestination": { "@type": "DefinedRegion", "addressCountry": "NZ", "addressRegion": "North Island" },
          "deliveryTime": {
            "@type": "ShippingDeliveryTime",
            "handlingTime": { "@type": "QuantitativeValue", "minValue": 0, "maxValue": 1, "unitCode": "DAY" },
            "cutoffTime": "13:00:00+12:00",
            "businessDays": {
              "@type": "OpeningHoursSpecification",
              "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
              "opens": "09:00",
              "closes": "17:00"
            },
            "transitTime": { "@type": "QuantitativeValue", "minValue": 3, "maxValue": 4, "unitCode": "DAY" }
          },
          "shippingLabel": "NZ North Island (add 1–3 days if rural)"
        }
      ]
    }
  ]
}
</script>
{% render 'breadcrumb-schema' %}




    </head>
    <body class='template-{{ template.name | handleize }} color-{{ settings.default_color_scheme }} round-level-{{ settings.round_level }} {% if settings.round_level != "0" %} round-style {% endif %}'>    

      {%  if request.host contains 'bearwell.com.au' %}
        <!-- Google Tag Manager AU (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVG4F4F8"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

      {% elsif request.host contains 'bearwell.co.nz' %} 
        <!-- Google Tag Manager NZ (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GQVZHFJ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
      {%  endif %}

      
      <a id='SkipContent' class='visually-hidden skip-to-content-link btn btn--lg btn--solid' href='#MainContent'>
        {{ 'accessibility.skip_to_text' | t }}
      </a>
  
      {% if template.name == 'password' %}
        {% sections 'password-header-group' %}
      {% else %}
        {% sections 'main-header-group' %}
        {% sections 'main-aside-group' %}
      {% endif %}
  
      {% sections 'popup-group' %}
  
      <main id='MainContent'>
        {{ content_for_layout }}
      </main>
  
      {%- if template.name == 'password' -%}
        {% sections 'password-footer-group' %}
      {%- else -%}
        {% sections 'main-footer-group' %}
      {%- endif -%}
  
      {%- render 'dialog-components' -%}
      {%- render 'interface-controls' -%}
      {%- render 'page-overlays' -%}
  
      <div id='Portal'></div>
      {%- render 'inject-routes' -%}
      {%- render 'save-global-data-in-global-scope' -%}
      <script>
        window.lazySizesConfig = window.lazySizesConfig || {}
        window.lazySizesConfig.loadMode = 1
      </script>
      <script src='{{ 'bundle.js' | asset_url }}' defer='defer'></script>
      <script src='{{ 'custom.js' | asset_url }}' defer='defer'></script>

       <div id="popular-searches">
<div class="fp-footer-container"> 
<div class="fp-footer">
    <ul>
      <li class="fp-title"><a href="https://bearwell.com.au/">Organic Protein Powder  </a></li>
       <li class="fp-title"><a href="https://bearwell.com.au/">Grass Fed Whey Protein</a></li>
      <li><a href="https://bearwell.com.au/collections/whey-protein-concentrate">Whey Protein Concentrate</a></li>
      <li><a href="https://bearwell.com.au/collections/whey-protein-isolate">Whey Protein Isolate</a></li>
       <li><a href="https://bearwell.com.au/collections/samples">Protein Powder Sachets</a></li>
        <li><a href="https://bearwell.com.au/collections/protein-powder">Protein Powder</a></li>
      <li><a href="https://bearwell.com.au/pages/digestive-friendly-protein">Lactose Free Protein Powder</a></li>
      <li><a href="https://bearwell.com.au/pages/gluten-free-protein-powder">Gluten Free Protein Powder</a></li>
        <li><a href="https://bearwell.com.au/products/whey-protein-concentrate-smooth-vanilla">Vanilla Whey Protein Powder</a></li>
      <li><a href="https://bearwell.com.au/products/whey-protein-concentrate-mixed-berry">Berry Protein Powder</a></li>
      <li><a href="http://bearwell.com.au/products/whey-protein-concentrate-chocolate-mousse-flavour">Chocolate Whey Protein</a></li>
            <li><a href="https://bearwell.com.au/collections/unflavoured-whey-protein">Unflavoured Whey Protein</a></li>
  <li class="fp-show-links-trigger"><a id="show-links" href="#popular-searches">Popular Searches</a></li>
 <li class="fp-hide-links-trigger"><a id="hide-links" href="#popular-searches">Hide Popular Searches</a></li>
    </ul>
</div>
</div></div>
     <script type="text/javascript">
jQuery(document).ready(function($) {

  // Move elements under the 2nd footer block
  $(".fp-show-links-trigger").appendTo(".footer__block:nth-child(2)");
  $(".fp-hide-links-trigger").appendTo(".footer__block:nth-child(2)");
  $("#popular-searches").appendTo(".footer__block:nth-child(2)");

  // Handle "Show Links" click
  $(document).on('click', '#show-links', function(e) {
    e.preventDefault();
    $('#popular-searches').toggle();
    $('#show-links').toggle();
    $('#hide-links').toggle();
  });

  // Handle "Hide Links" click
  $(document).on('click', '#hide-links', function(e) {
    e.preventDefault();
    $('#popular-searches').toggle();
    $('#show-links').toggle();
    $('#hide-links').toggle();
  });

});
</script>
<style>
    #popular-searches, #hide-links {
      display: none;
    }

.fp-footer-container { 
	display: block;
    max-width: 1150px;
    margin: auto;

}
.fp-footer {
    display: flex;
	justify-content: space-between; 
    margin: 0 auto;
	width: 100%; 
}
.fp-footer ul {
list-style: outside none none;
margin: 0;
padding: 0 0px; 
}
.fp-footer a {
    text-decoration: none;
    font-size: 14px;
}
#hide-links{
font-size: 14px;
 text-decoration: none;
}
#show-links{
font-size: 14px;
 text-decoration: none;
}
li.fp-show-links-trigger {
    list-style: none;
    text-decoration: none;
}
li.fp-hide-links-trigger {
     list-style: none;
      text-decoration: none;
}
@media (max-width: 799px) { 
	.fp-footer {
		padding: 0px 0px 0;
		text-align: left; 
		display:block;
    padding-bottom: 10px;
	}

li.fp-show-links-trigger {
  list-style: none;
}
li.fp-hide-links-trigger {
  list-style: none;
}
}
.product__info-wrapper h1 {
    font-size: 35px;
}
</style>
    </body>
  </html>
  

  <!-- Begin Shopify-Afterpay JavaScript Snippet (v1.2.1) -->
{% if cart.currency.iso_code == shop.currency %}
<script type="text/javascript">
// Overrides:
   var afterpay_msg_size = 'xs';  // Can be 'xs', 'sm', 'md' or 'lg'.
// var afterpay_bold_amount = true;
   var afterpay_logo_theme = 'colour';  // Can be 'colour', 'black' or 'white'.
// var afterpay_modal_open_icon = true;
// var afterpay_hide_upper_limit = false;
// var afterpay_hide_lower_limit = true;
// var afterpay_show_if_outside_limits = true;

var afterpay_product_integration_enabled = true;
var afterpay_product_selector = '.product-price__current-price ';
var afterpay_variable_price_fallback = true;
var afterpay_variable_price_fallback_selector = '.product-price__current-price';
var afterpay_variable_price_fallback_method = 'mutation';

// var afterpay_cart_integration_enabled = true;
// var afterpay_cart_static_selector = '#cart-subtotal-selector';
// var afterpay_variable_subtotal_fallback = false;
// var afterpay_variable_subtotal_fallback_selector = '';
// var afterpay_variable_subtotal_fallback_method = 'mutation'; // Can be 'mutation' or 'interval'.

// var afterpay_dynamic_cart_integration_enabled = false;
// var afterpay_dynamic_cart_selector = '.cart-drawer__footer .totals';
// var afterpay_dynamic_cart_observer_target = '#CartDrawer';

//   var afterpay_footer_logo_enabled = true;
//   var afterpay_footer_logo_format = 'stacked';  // Can be 'icon', 'stacked' or 'logo'.
// var afterpay_footer_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.
// var afterpay_footer_logo_background = 'border';  // Can be 'border' or 'transparent'.
// var afterpay_footer_logo_container = 'footer ul.payment-icons';
// var afterpay_footer_logo_template = '<li class="payment-icon"><object data="{logo_path}" type="image/svg+xml"></object></li>';

// Non-editable fields:
var afterpay_js_language = {{ localization.language.iso_code | slice: 0, 2 | json }};
var afterpay_js_country = {{ localization.country.iso_code | json }};
var afterpay_shop_currency = {{ shop.currency | json }};
var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
var afterpay_shop_money_format = {{ shop.money_format | json }};
var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
var afterpay_theme_name = {{ theme.name | json }};
var afterpay_product = {{ product | json }};
var afterpay_product_collections = {{ product.collections | map: 'title' | join: ',' | json }};
var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
var afterpay_cart_total_price = {{ cart.total_price | json }};
var afterpay_cart_skus = {{cart.items | map: 'sku' | join: ',' | json }};
var afterpay_cart_collections = {{cart.items | map: 'product' | map: 'collections' | map: 'title' | uniq | join: ',' | json }};
var afterpay_js_snippet_version = '1.2.1';
</script>
<script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>
{% else %}
<!-- Afterpay disabled: {{ cart.currency.iso_code }} != {{ shop.currency }} -->
{% endif %}
<!-- End Shopify-Afterpay JavaScript Snippet (v1.2.1) -->